/* CSS 1 - Introducción al CSS */

:root {
    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: 'Nunito', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
   
/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
  
/* Almohadilla on hover */
::-webkit-scrollbar-thumb:hover {
    background:var(--third-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
}

h2 {
    color: var(--white-color);
    font-size: 2rem;
}

#logo {
    font-weight: bold;
    font-size: 1.2rem;
}

#logo a {
    transition: all 0.3s ease-in;
}

#logo a:hover,
#footer a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.login-btn:hover {
    color: var(--white-color);
    text-decoration: none;
}

body {
    height: 100vh;

    background-color: var(--bg-color);
    background-image: radial-gradient(farthest-corner at 50% 50%, rgba(250, 250, 250, 0.2) 0%, rgba(255, 255, 255, 0) 100%); /* Crea el efecto*/
    background-size: 100vw 100vw; /* Tamaño del efecto de luz */
    background-position: center; /* Posición del efecto de luz */
    background-repeat: no-repeat;
    font-family: var(--primary-font);
    position: relative;
    
    box-shadow: inset 0px 90px 100px 15px #000000;
}

.main-section {
    color: var(--white-color);
    padding: 70px 50px;
}
/* -------------------------------------------*/

.header {
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
}

#footer {
    width: 100%;
    height: 5em;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
}

.header nav {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 0px 40px;
    padding: 1.5rem 0;
}

.nav-links {
    list-style: none;

    display: flex;
    align-items: center;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links li a {
    font-weight: bold;
    font-size: 1.1rem;

    padding: 0.5rem 1rem;
    border-radius: 5px;

    transition: all 0.3s ease-in;
}

.login-btn {
    background: transparent;
    color: var(--white-color);

    font-weight: bold;
    font-size: 1.1rem;

    padding: 0.5rem 1rem;    
    border-radius: 15px;

    transition: all 0.3s ease-in;
}

.login-btn:hover {
    background-color: var(--primary-color);
}

.favorites-movies,
.user-data {
    padding: 20px;
    text-align: center;
}

.favorites-movies h2,
.user-data h2 {
    font-size: 50px;
}

.favorites-movies-container{
    width: 100%;

    padding: 15px 20px;

    display: flex;
    flex-flow: row wrap;
    gap: 25px;
}

.favorite-movie {
    width: 200px;
    height: max-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    position: relative;

    text-align: center;
    font-size: 15px;
    transition: all 0.5s ease;
}

.favorite-movie img {
    height: 300px;
    border-radius: 10px;
}

.favorite-movie:hover {
    transform: scale(1.05);
}

.favorite-movie:hover img {
    box-shadow: 0 0 30px #9f3648cd;
}
.favorite-movie-detail {
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 800;
}

.hidden-text a {
    font-weight: 800;
    font-size: 20px;
    padding: 2px;
    transition: all 0.3s ease-in;
}

.hidden-text a:hover {
    color: var(--third-color);
    font-size: 25px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
    position: relative;
    background-color: var(--bg-color);
    margin: 10% auto; /* Agrega un margen superior para que el contenido se centre verticalmente */
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    width: 50%; /* Establece un ancho fijo para que el contenido se centre horizontalmente */
    color: var(--white-color);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.modal .modal-content h2 {
    text-transform: capitalize;
}

.modal .modal-content .modal-movie-img {
    width: 300px;
}

.modal .modal-content div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.modal .modal-content div p {
    text-align: start;
}

.modal .modal-content div .modal-movie-buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    gap: 10px;
}
.modal .modal-content div .modal-movie-buttons .modal-movie-btn{
    background-color: var(--primary-color);
    padding: .8rem 2rem;
    border-radius: 10px;
    border: none;
    
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;

    transition: box-shadow 0.3s;
}

.modal .modal-content div .modal-movie-buttons .modal-movie-btn:hover {
    box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.15);
}

.modal .modal-content .close {
    color: var(--white-color);
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.modal .modal-content .close:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.user-data .form-data {
    margin: 0 auto;
    padding: 25px;

    width: 300px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.form-data .form-label {
    margin: 5px auto;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;

    position: relative;
}

.form-data .form-label label {
    font-size: 18px;
    font-weight: 800;

    position: absolute;
    top: 9px;
    left: 8px;
}

.form-data .form-label input,
.form-data .form-label select {
    background-color: var(--bg-color);
    border: 1px solid #4f31572c;
    border-radius: 50px;
    color: var(--white-color);

    padding: 12px 10px;

    width: 100%;
}

.form-data .form-label input {
    padding: 12px 90px;
    font-size: 16px;
}

.form-data .form-label input[type=email] {
    padding: 12px 75px;
}

.form-data .form-label input[type=date] {
    font-family: var(--primary-font);
    color: var(--white-color);
    font-size: 16px;

    padding: 12px 10px;

    cursor: pointer;
}

.form-data .form-label select {
    font-family: var(--primary-font);
    font-size: 18px;
    width: 100%;

    padding: 6px 10px;
}

.form-data .form-label select option {
    padding: 10px; /* agrega espacio entre las opciones */
  }

.form-label input:focus,
.form-label input[type=date]:focus,
.form-label select:focus {
    outline: 1px solid var(--primary-color);
    box-shadow: 0px 0px 30px 3px #ffffff93;
}

.modify-btn {
    background-color: var(--primary-color);
    color: var(--white-color);

    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.1rem;

    margin: 0 auto;
    padding: 0.5rem 1rem;

    border: none;
    border-radius: 15px;

    cursor: pointer;
    transition: all 0.3s ease-in;
}

.modify-btn:hover {
    box-shadow: 0px 0px 30px 1px #ffffff71;
}