<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | CaC-Movies, películas y series online</title>
    <!-- zona del favicon -->
    <link rel="icon" href="./Favicon.ico" type="image/x-icon">
    <!-- zona de scripts -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del css -->
    <link rel="stylesheet" href="../static/css/register.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html">
                    <i class="fas fa-film"></i>
                    <span class="logo-texto">
                        CAC - Movies
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="form-wrapper">
            <h2>Registro</h2>
            <form id="formRegister">
                <div class="form-control">
                    <label>Nombre</label>
                    <input type="text" name="firstname" id="firstname">
                </div>
                <div class="error" id="error-firstname"></div>
                <div class="form-control">
                    <label>Apellido</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="error" id="error-lastname"></div>
                <div class="form-control">
                    <label>Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="error" id="error-email"></div>
                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="error" id="error-password"></div>
                <div class="form-control">
                    <label id="label-birthdate">Fecha de Nacimiento</label>
                    <input type="date" name="birthdate" id="birthdate">
                </div>
                <div class="form-control">
                    <select name="country" id="country" class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="UY">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>
                <div class="form-terms">
                    <div class="terms">
                        <input type="checkbox" id="terms">
                        <label for="terms">Acepto términos y condiciones</label>
                    </div>
                </div>
                <button type="submit">Registrarse</button>
                <div class="form-help">
                    <a href="#">Necesitas ayuda?</a>
                </div>
            </form>
        </section>
    </main>
    <script src="../static/register.js"></script>
</body>

</html>